<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="icon" href="/static/images/logos/NSS_logo.png" type="image/x-icon">
  <link rel="stylesheet" href="/static/styles.css">

  <title>Events</title>
</head>

<body>
  <header class="events_header" id="go">
    <div class="back_button_div">
      <a class="back_button cyan" href="javascript:back()"><i class="fa fa-arrow-left"></i></a>
    </div>
    <div class="events_head">
      NSS-GVPCE(A)
    </div>
    <div class="events_title">
      <h2>EVENTS</h2>
    </div>
  </header>
  <main class="events_main">
    <section class="events_list" id="event_cards">
      {% for event in events %}
      <div class="event_card" id="{{ event['name'] }}">
        {% if event.media == 'vid' %}
        <video autoplay muted>
          <source src="{{ event['media_src'] }}" type="video/mp4">
          your browser does not support video tag
        </video>
        {% else %}
        <img src="{{ event['media_src'] }}">
        {% endif %}
        <p>{{ event['name'] }}</p>
        <a href="javascript:void(0)" onclick="description(this)">Know More</a>
      </div>
      {% endfor %}
    </section>
    
    <section class="future_events" id="event_descrps">
      <div class="event_descriptions">
        {% for event in events %}
        <div class="event_description" id="{{ 'div' ~ event['name'] }}">
          <h3>{{ event['name'] }}</h3>
          <p>{{ event['description'] }}</p>
        </div>
        {% endfor %}
      </div>
      <div id="upcoming_events">
        <h3>Upcoming<br/>Events</h3>
        {% for next_event in next_events %}
        <h4>{{ next_event['name'] }}</h4>
        <p>{{ next_event['description'] }}</p>
        {% endfor %}
        <p>Wait for more updates..</p>
      </div>
    </section>
  </main>
</body>

<script type="text/javascript" src="/static/main.js"></script>
<!---<script>
var upcoming_events = document.getElementById('upcoming_events');
upcoming_events.style.display = 'block';
</script>--->
</html>