body {
  font-size: 16px;
  font-family: 'Times New Roman', Times serif;
  margin: 0 0 0 0;
  background-color: #EBF1F8;
}
.back_button_div {
  box-sizing: border-box;
  padding: .25rem;
}
.back_button {
  font-size: 2rem;
}
.back_button.cyan {
  color: #A2E6FC;
}
.back_button.blue {
  color: #0E3570;
}
/* Home page styles */
/* mobile view */
.home_mobile {
  display: block;
}
.home_images_m {
  display: grid;
  grid-template-columns: repeat(4, minmax(70px, 1fr));
  gap: 10px;
  align-items: center;
}
.home_images_m img {
  width: 20vw;
  height: auto;
}
.home_nav_mobile {
  display: flex;
  margin: 10px 5px 10px 5px;
  color: white;
  background-color: #163976;
  padding: .2rem 1rem .2rem 1rem;
  border-radius: 2rem;
  align-items: center;
  justify-content: space-between;
  z-index: 50;
}
.home_heading_m {
  text-align: center;
  color: #3A3C71;
}
.home_heading_m h1 {
  font-size: 1.15rem;
  word-wrap: wrap;
  text-align: center;
  margin: 1rem .5rem 0 .5rem;
}
.home_heading_m p {
  display: inline-block;
  font-size: .75rem;
  word-wrap: wrap;
  text-align: center;
}
#hamburger {
  display: inline-block;
  cursor: pointer;
  /*border: 2px solid white;*/
}
.line {
  display: block;
  text-align: right;
  background-color: white;
  height: 0.25rem;
  width: 2rem;
  margin: .3rem .3rem .3rem .3rem;
  border-radius: .2rem;
}
.home_links_m {
  /*border: 2px solid black;*/
  display: none;
  text-align: center;
  position: absolute;
  right: 2rem;
  margin-top: auto;
  border-radius: 0.25rem;
  z-index: 1;
}
.home_links_m a {
  display: block;
  color: white;
  font-size: 1rem;
  background-color: #163976;
  padding: .5rem .5rem .5rem .5rem;
  text-decoration: none;
}
/* desktop view*/
.home_desktop {
  display: none;
  top: 1rem;
}

.home_desktop_head {
  display: flex;
  justify-content: space-around;
  align-items: center;
  left: 2rem;
  right: 2rem;
}
.home_images_d_1 {
  display: flex;
  align-items: center;
}
.home_heading_d {
  text-align: center;
  color: #3A3C71;
  width: 40%;
}
.home_heading_d h1 {
  font-size: 1.55rem;
  word-wrap: wrap;
  text-align: center;
  margin: 1rem 0 0 0;
}
.home_heading_d p {
  font-size: .85rem;
  word-wrap: wrap;
  text-align: center;
}

.home_images_d_2 {
  display: flex;
  align-items: center;
}
.home_images_d_1 img , .home_images_d_2 img {
  width: 6vw;
  height: auto;
  margin: 1rem;
}
.home_nav_desktop {
  display: flex;
  margin: 10px 10px 10px 5px;
  color: white;
  background-color: #163976;
  padding: .25rem 1rem .25rem 1rem;
  border-radius: 2rem;
  align-items: center;
  justify-content: space-between;
  z-index: 50;
}
.home_nav_desktop p {
  margin: 0 0 0 .5rem;
}
.home_links_d {
  /*border: 2px solid black;*/
  display: flex;
  text-align: center;
}
.home_links_d a {
  font-size: 1rem;
  color: white;
  background-color: #163976;
  padding: 1.4rem 1rem 1.4rem 1rem;
  text-decoration: none;
}
/* home page gallery swipe */
.home_gallery {
  display: flex;
  position: relative;
  width: 100;
  align-items: center;
}
.home_gallery_button{
  position: absolute;
  z-index: 10;
  outline: none;
  border: none;
  background-color: rgba(162, 230, 252, 0.5);
  padding: .45rem;
  border-radius: 50%;
}
.home_gallery_button:hover{
  background-color: rgba(162, 230, 252, 0.7);
  padding: .6rem;
  transition: ease-in-out;
  transition-duration: .25s;
}
.home_gallery_button i{
  color: rgba(0, 0, 0, 0.5);
  font-size: 1rem;
}
.home_gallery_button i:hover {
  font-size: 1.25rem;
}
.home_gallery_button.left {
  left: 1vw;
}
.home_gallery_button.right {
  right: 2vw;
}
.home_photos {
  display: flex;
  overflow: hidden;
  position: relative;
  justify-content: center;
  text-align: center;
  width: 100%;
}
.home_photos img {
  width: 100%;
  height: auto;
  display: none;
}
.home_photos img.active {
  display: block;
}


#gallery_page_header {
  display: flex;
  box-sizing: border-box;
  color: white;
  background-color: #163976;
  padding: .35rem;
  margin: 0;
  height: 6rem;
  justify-content: space-between;
}
.gallery_title {
  position: absolute;
  background-color: #D12E2D;
  text-align: center;
  align-content: flex-end;
  border-radius: 50%;
  width: 9rem;
  height: 5rem;
  padding: 1.25rem;
  margin-top: -3.5rem;
  margin-left: 2.25rem;
  margin-bottom: 0;
}
.gallery_title h1 {
  font-size: 1.5rem;
  position: relative;
  margin-bottom: .25rem;
}
.gallery_nss_title {
  width: inherit;
  padding: .75rem;
  align-content: flex-end;
}
.gallery_main {
  margin-top: 0rem;
  background-color: #A2E6FC;
}
.gallery_imgs {
  padding: 1rem;
  box-sizing: border-box;
  text-align: center;
}
.gallery_img {
  width: 20rem;
  text-align: center;
  margin: 1.5rem 0;
}
.gallery_img img {
  width: 20rem;
  border-radius: 2rem;
}
.img_details {
  text-align: left;
  margin-top: -2.5rem;
  margin-left: 2rem;
}
.img_details h4 {
  font-size: .75rem;
}
.gallery_pagation {
  position: fixed;
  display: flex;
  width: 100%;
  padding: .5rem;
  box-sizing: border-box;
  bottom: 0;
}
.gallery_pagation div {
  width: 50%;
  border: 2px solid #000;
  text-align: center;
}
.gallery_pagation button {
  display: block;
  color: #163976;
  font-size: 1.75rem;
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
}

#left_btn {
  position: absolute;
  left: 1rem;
  bottom: 1rem;
}

#right_btn {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}

/* about_us.html styles */
.aboutus_main {
  padding: .5rem;
  box-sizing: border-box;
}
.aboutus_text {
  display: block;
  text-align: center;
}
.aboutus_head {
  font-size: 1.25rem;
  margin: .75rem;
}
.aboutus_head h3 {
  margin: .5rem;
}
.aboutus_para {
  margin: 1rem;
}
.aboutus_para p {
  font-size: .85rem;
  text-align: justify;
}
.aboutus_symbls {
  display: block;
  text-align: center;
}
.aboutus_symbl {
  text-align: center;
  margin: 2rem 1rem;
}
.aboutus_symbl img {
  width: 4rem;
  border-radius: 50%;
}
.aboutus_symbl h3 {
  font-size: .85rem;
  width: 10rem;
  margin-left: 4.5rem;
}



/* events.html Styles*/
.events_header {
  display: flex;
  position: fixed;
  background-color: #163976;
  width: 100vw;
  height: 5rem;
  box-sizing: border-box;
  z-index: 10;
}
.events_main {
  top: 5rem;
  position: absolute;
  z-index: 5;
}
.events_head {
  color: white;
  font-size: 1.2rem;
  margin: 1rem;
  position: relative;
  top: 1.5rem;
}
.events_title {
  background-color: #D12E2D;
  position: absolute;
  border-radius: 50%;
  box-sizing: border-box;
  padding: 1rem 2rem;
  top: -2.5rem;
  right: 1rem;
}
.events_title h2 { 
  color: white;
  position: relative;
  top: 1rem;
}
.events_main {
  display: flex;
  box-sizing: border-box;
  width: 100%;
}
.events_list {
  display: grid;
  background-color: #A2E6FC;
  width: 65%;
  padding: 1rem;
  justify-content: center;
  box-sizing: border-box;
}
.event_card {
  display: block;
  width: 50vw;
  background-color: #163976;
  box-sizing: border-box;
  border-radius: 4.5vw;
  margin: 5vw;
  text-align: center;
}
.event_card img, .event_card video, .event_card p, .event_card a {
  margin: 1.5vw;
}
.event_card img, .event_card video {
  width: 47vw;
  border-radius: 3vw;
  margin-bottom: 0rem;
}
.event_card video {
  
}
.event_card p {
  color: white;
  text-align: center;
}
.event_card a {
  display: inline-block;
  color: #163976;
  background-color: #A2E6FC;
  padding: .25rem 1rem;
  border-radius: 2rem;
  text-align: center;
  text-decoration: none;
  margin-bottom: 3vw;
}
.event_description {
  display: none;
}
.future_events {
  position: fixed;
  width: 35%;
  padding: .5rem;
  right: 0;
  box-sizing: border-box;
}
.future_events h3 {
  color: #163976;
  word-wrap: wrap;
  overflow-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
}
.future_events h4, .future_events p {
  word-wrap: wrap;
  overflow-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
}
#upcoming_events {
  display: block;
}


/* team.html */

#team_page_header {
  display: flex;
  box-sizing: border-box;
  color: white;
  background-color: #163976;
  margin: 0;
  height: 5.5rem;
  justify-content: space-between;
}
.team_title {
  position: absolute;
  background-color: #D12E2D;
  text-align: center;
  align-content: flex-end;
  border-radius: 50%;
  width: 8rem;
  height: 4.5rem;
  padding: 1.25rem;
  margin-top: -3.15rem;
  margin-left: 2.25rem;
  margin-bottom: 0;
}
.team_title h1 {
  font-size: 1.25rem;
  position: relative;
  margin-bottom: .25rem;
}
.team_links {
  display: block;
  padding: .5rem .75rem;
}
.team_links a {
  display: block;
  color: white;
  margin: .5rem 0;
  font-size: 1.15rem;
  text-decoration: none;
}
.team_main {
  box-sizing: border-box;
  padding: .5rem;
  text-align: center;
}
.chairman {
  padding: 1rem;
  box-sizing: border-box;
}
.team_page_head {
  display: inline-block;
  background-color: #163976;
  border-radius: 2rem;
  margin: .25rem 0;
  margin-bottom: 1rem;
  padding: 1rem;
  width: 17rem;
  font-size: 1.25rem;
}
.team_page_head p {
  color: white;
}
.chairman_img {
  text-align: center;
}
.chairman_img img {
  width: 10rem;
  border-radius: 50%;
}
.chairman_details {
  width: 17rem;
  background-color: #A2E6FC;
  border-radius: 2rem;
  padding: 1rem;
  padding-top: 5.5rem;
  margin: -5rem 0 0 0;
}
.chairman_details h3, .chairman_links {
  text-align: center;
  width: 17rem;
  color: #163976;
  font-size: 1rem;
  margin: .5rem .25rem;
}
.chairman_links a, .chairman_links span {
  color: #163976;
  font-size: 1rem;
}
.faculty {
  padding: 1rem;
  box-sizing: border-box;
  text-align: center;
}
.faculty_coord {
  display: flex;
  align-content: center;
  box-sizing: border-box;
  margin: 1rem 0;
}
.faculty_coord img {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
}
.faculty_details {
  z-index: -3;
  background-color: #2E528F;
  border-radius: 2rem;
  width: 14rem;
  padding: .5rem 1.25rem;
  padding-left: 3rem;
  margin-left: -2rem;
  align-content: center;
}
.faculty_details h3 {
  margin: .5rem .25rem;
  font-size: .85rem;
  color: white;
}
.faculty_links a{
  font-size: 1rem;
  margin: 0 .5rem;
  color: white;
}

/* Unit 1 Page Styles */
#unit_page_header {
  display: flex;
  background-color: #163976;
  width: 100vw;
  height: 5rem;
}
.unit_title {
  background-color: #D12E2D;
  position: absolute;
  margin-left: 4rem;
  border-radius: 50%;
  width: 11rem;
  height: 7.5rem;
  align-items: center;
  top: -3.5rem;/*
  right: -3rem;*/
}
.unit_title h1 {
  position: relative;
  font-size: 1.25rem;
  color: white;
  text-align: center;
  top: 3.5rem;
}
.unit_nss_title {
  height: inherit;
  width: 100%;
  display: block;
  text-align: right;
  align-content: flex-end;/*
  border: 2px solid white;*/
}
.unit_nss_title h3 {
  font-size: 1rem;
  margin-right: 1rem;
  color: white;
}
.unit_main {
  display: flex;
  box-sizing: border-box;
}
.unit_lead_mem {
  text-align: center;
  width: 60vw;
}
.unit_core_mem {
  background-color: #A2E6FC;
  width: 40vw;
}
.unit_lead_cards {
  display: block;
  margin: 1rem 1rem;
}
.unit_lead_card {
  display: block;
  margin-bottom: 1rem;
}
.unit_lead_card img {
  width: 8.5rem;
  border-radius: 50%;
}
.unit_lead_details {
  background-color: #A2E6FC;
  border-radius: 1.5rem;
  padding: 0.5rem;
  padding-top: 5rem;
  margin-top: -4.5rem;
}
.unit_lead_details h3 {
  color: #0E3570;
  font-size: 1rem;
  margin: 0;
}
.unit_lead_details h4,
.unit_lead_details h5 {
  margin: .25rem;
  color: black;
  font-size: .65rem;
}
.unit_lead_links {
  margin: .25rem;
}
.unit_lead_links a i {
  font-size: 1.25rem;
  color: #0E3570;
  margin: 0 .125rem;
  height: 1rem;
}
.unit_lead_link {
  margin: 1rem;
  text-align: right;
}
.unit_lead_link a {
  color: white;
  background-color: #0E3570;
  border-radius: 2rem;
  text-decoration: none;
  padding: .75rem;
}
.unit_core_mem {
  padding: .25rem;
}
.unit_core_mem h3 {
  margin: 1rem .5rem;
  font-size: 1.125rem;
  text-align: center;
  font-weight: bold;
}
.unit_core_mem h4 {
  margin: .75rem;
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: bold;
}
.unit_core_mem h5 {
  margin: .75rem;
  margin-bottom: 1rem;
  font-size: .75rem;
  text-align: right;
}

/* unit_1_leads.html */
#background {
  position: fixed;
  z-index: -10;
  opacity: .2;
}
.unit_mem_heading {
  text-align: center;
  margin: 0;
}
.unit_mem_heading p {
  font-size: 1.5rem;
  display: inline-block;
  background-color: #0E3570;
  color: white;
  padding: .5rem 1.25rem;
  border-radius: 2rem;
}
.unit_mem_cards {
  display: block;
  text-align: center;
  margin: .5rem 0;
}
.unit_mem_card {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}
.unit_mem_photo {
  z-index: 10;
}
.unit_mem_photo img {
  width: 6.75rem;
  height: auto;
  border-radius: 50%;
}
.mem_details {
  z-index: -2;
  background-color: #A2E6FC;
  border-radius: 2rem;
  width: 60vw;
  height: 6rem;
  padding-left: 1.5rem;
  margin-left: -2rem;
  align-content: center;
  text-align: center;
}
.mem_details h3, 
.mem_details h4, 
.mem_social {
  margin: .25rem;
}
.mem_details h3 {
  font-size: .95rem;
}
.mem_details h4 {
  font-size: .85rem;
}
.mem_social a {
  color: #0E3570;
  margin: 0 .25rem;
}


#contact_page_header {
  display: flex;
  box-sizing: border-box;
  padding: .5rem;
  background-color: #0E3570;
  height: 5rem;
}
.contact_title {
  height: 9rem;
  width: 10rem;
  border-radius: 50%;
  text-align: center;
  align-content: flex-end;
  padding: 1.75rem;
  margin-top: -9rem;
  margin-left: 2rem;
  background-color: #A2E6FC;
}
.contact_title h3 {
  color: #0E3570;
}
.contact_main {
  background-color: #0E3570;
  box-sizing: border-box;
  padding: 0;
  margin-top: -1rem;
}
.contact_main h3 {
  margin: .25rem 0;
  font-size: 1.25rem;
  color: #A29B76;
}
.contact_main h4 {
  margin: .125rem;
  color: white;
}
.contact_details {
  padding: 1rem;
  margin: 0;
}
.contact_info {
  margin: 1rem 0;
  text-align: left;
}
.contact_address {
  margin: 1rem 0;
  text-align: center;
}
.contact_address h4 {
  line-height: 1.5rem;
}
.contact_followus {
  position: absolute;
  margin: .25rem 0;
  display: block;
  text-align: right;
  right: 1rem;
  top: 5.75rem;
}
.contact_followus a {
  color: white;
  margin: .25rem 0;
  margin-right: 3rem;
  display: block;
  text-align: right;
  font-size: 1.5rem;
}
.contact_form {
  margin: 0;
  width: 100%;
  height: 15rem;
  background-color: #A2E6FC;
}
#contact {
  margin: 1rem;
  text-align: center;
}
#contact input {
  margin: 1rem 0;
  border: none;
  height: 2rem;
  width: 80vw;
}
#comments {
  height: 4rem;
}
#contact input[type="submit"] {
  display: inline-block;
  border: none;
  outline: none;
  background-color: #0E3570;
  color: #A29B76;
  border-radius: 2rem;
}




@media only screen and (max-height: 480px) and (orientation: landscape) {
  #home_portrait {
    display: none;
  }
  #home_landscape {
    display: block;
  }
  .home_heading_l h1 {
    font-size: 1rem;
  }
  .home_heading_l p {
    font-size: .75rem;
  }
  #home_nav_landscape p {
    font-size: 1rem;
  }
  #home_links_l a {
    font-size: .85rem;
    padding: 1.25rem .85rem 1.25rem .85rem;
  }
  .events_title {
    right: 5rem;
  }
}


@media only screen and (min-width:480px){
  body{
    font-size: 20px;
  }
  /* Home page styles */
  .home_mobile {
    display: none;
  }
  .home_desktop {
    display: block;
  }
  .home_gallery {
    align-items: center;
  }
  .gallery_button {
    width: 10vw;
    height: 20vh;
  }
  .gallery_title {
    margin-left: 4rem;
  }
  .gallery_imgs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem 3.5rem;
    box-sizing: border-box;
    width: 100vw;
    gap: 2rem;
  }
  .gallery_img {
    width: 24rem;
    margin:  0;
  }
  .gallery_img img {
    width: 24rem;
  }
  .img_details {
    margin-top: -2.75rem;
    margin-left: 4rem;
  }
  .gallery_pagation {
    padding: 1.5rem;
  }
  .gallery_pagation a {
    font-size: 2rem;
  }
  .aboutus_text {
    display: flex;
    box-sizing: border-box;
    align-items: center;
  }
  .aboutus_head {
    width: 30vw;
    white-space: nowrap;
    align-self: flex-start;
  }
  .aboutus_head h3 {
    font-size: 1.25rem;
  }
  .aboutus_para {
    width: 60vw;
  }
  .aboutus_para p {
    font-size: 1rem;
  }
  .aboutus_symbls {
    display: flex;
    box-sizing: border-box;
    justify-content: space-evenly;
  }
  .aboutus_symbl {
  }
  .aboutus_symbl h3 {
    margin: 0;
  }
  
  /* events.html styles */
  .events_header {
    height: 6rem;
  }
  .events_head {
    left: 4rem;
    top: 2.25rem;
    font-size: 1.25rem;
  }
  .events_title {
    padding: 3.25rem 3.5rem;
    right: 10rem;
    top: -7.5rem;
  }
  .events_title h2 {
    font-size: 2rem;
    top: 3.5rem;
    font-weight: bold;
  }
  .events_list {
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    width: 70%;
  }
  .event_card {
    width: 20vw;
    margin: 1rem .5rem;
    border-radius: 1.5vw;
  }
  .event_card img, .event_card video {
    width: 18vw;
    margin: .75vw .5vw;
    border-radius: 1vw;
  }
  .future_events {
    position: absolute;
    right: 0;
    width: 30%;
  }
  #team_page_header {
    height: 6rem;
    padding: .5rem;
  }
  .team_title {
    margin: -3rem 0 0 3rem;
  }
  .team_links {
    margin-right: 3rem;
  }
  .chairman_details {
    margin: -5rem 32.125vw 0 32.125vw;
  }
  .faculty_coords {
    margin: 0 10vw;
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    gap: 5vw;
  }
  .unit_lead_mem {
    width: 75vw;
  }
  .unit_lead_cards {
    margin: 5vw 5vw;
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    gap: 5vw;
  }
  .unit_lead_card {
    justify-content: center;
    text-align: center;
  }
  .unit_lead_details {
    box-sizing: border-box;
    width: 100%;
  }
  .unit_core_mem {
    width: 25vw;
  }
  .unit_mem_cards {
    margin: 0 10vw;
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    gap: 5vw;
  }
  .mem_details {
    width: 40vw;
  }
}